<div class="dashboard-container">
  <h2>Expandable Detail Table :</h2>
  <div class="row py-2">
    <div class="row mb-2">
      <div class="col-4">
        <app-search
          (applyFilter)="applySearch($event)"
          resetField="true"
          class2append=" w-100"
          [rowOrginalData]="rowDataCopy"
          [columns]="columnDefs2search"
          [fullData]="true"
          [disableSearch]="disableSearch"
        >
        </app-search>
      </div>
    </div>
    <div class="min-height-sec">
      <div>
        <ngx-datatable
          #myTable2
          class="material expandable techchildtable"
          [columnMode]="ngxService.config.columnMode"
          [headerHeight]="ngxService.config.headerHeight"
          [footerHeight]="ngxService.config.footerHeight"
          [rowHeight]="ngxService.config.rowHeight"
          [limit]="ngxService.config.limit"
          [rows]="rowData"
          [loadingIndicator]="serverSidePaging?.isLoading > 0"
          [externalPaging]="true"
          [externalSorting]="false"
          [count]="serverSidePaging?.totalElements"
          [offset]="serverSidePaging?.pageNumber"
          (page)="setPage($event)"
        >
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
            *ngIf="rowData?.length > 0"
            [frozenLeft]="true"
          >
            <ng-template
              let-row="row"
              let-expanded="expanded"
              ngx-datatable-cell-template
            >
              <span
                (click)="expandRow(row)"
                [class.datatable-icon-up]="!expanded"
                title="Expand/Collapse Row"
                class="fz-20 clickable"
              >
              </span>
              <span
                (click)="collapseRow()"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                class="fz-20 clickable"
              >
              </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-row-detail
            [rowHeight]="auto"
            #myDetailRow
            (toggle)="onDetailToggle($event)"
          >
            <ng-template
              let-row="row"
              let-expanded="expanded"
              ngx-datatable-row-detail-template
            >
              <ngx-datatable
                #myTable2
                class="material bg-neutral-10"
                [columnMode]="ngxService.config.columnMode"
                [headerHeight]="0"
                [footerHeight]="0"
                [rowHeight]="ngxService.config.rowHeightAuto"
                [limit]="ngxService.config.limit"
                [rows]="childrowData"
              >
                <ngx-datatable-column
                  [width]="50"
                  [resizeable]="false"
                  [sortable]="false"
                  [draggable]="false"
                  [canAutoResize]="false"
                ></ngx-datatable-column>
                <ngx-datatable-column
                  *ngFor="let column of columnDefs"
                  [name]="column?.name"
                  [prop]="column?.prop"
                  [comparator]="column?.comparator"
                  [sortable]="
                    column?.sortable !== undefined ? column?.sortable : true
                  "
                  [cellClass]="column?.cellClass + 'bg-neutral-10'"
                  [headerClass]="column?.headerClass + 'bg-neutral-10'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span [matTooltip]="row[column?.prop]">
                      {{ row[column?.prop] ?? "" }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </ng-template>
          </ngx-datatable-row-detail>
          <ngx-datatable-column
            *ngFor="let column of columnDefs"
            [name]="column?.name"
            [prop]="column?.prop"
            [comparator]="column?.comparator"
            [sortable]="
              column?.sortable !== undefined ? column?.sortable : true
            "
            [cellClass]="column?.cellClass"
            [headerClass]="column?.headerClass"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span [matTooltip]="row[column?.prop]">
                {{ row[column?.prop] ?? "" }}
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
