<div class="dashboard-container">
  <h2>Reactive Form with Form Array :</h2>
  <div class="row pb-2">
    <form #myForm="ngForm" [formGroup]="skudriverForm">
      <div class="row">
        <div class="col-12">
          <div
            formArrayName="driverFormArray"
            *ngFor="
              let payloadItems of driverFormList()?.controls;
              let i = index
            "
          >
            <ng-container [formGroupName]="i">
              <div class="row">
                <div class="col-3">
                  <mat-form-field class="w-100 mb-3">
                    <mat-label>Driver {{ i + 1 }} </mat-label>
                    <input
                      autocomplete="driverName"
                      tabindex="4"
                      formControlName="driverName"
                      matInput
                      type="text"
                    />
                    <a
                      *ngIf="payloadItems.get('driverName')?.value"
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="clearControl(payloadItems.get('driverName'))"
                    >
                      <mat-icon matSuffix>clear</mat-icon>
                    </a>
                    <mat-error>
                      <span
                        *ngIf="payloadItems.get('driverName')?.errors?.required"
                        >SKU Driver is Mandatory.
                      </span>
                      <span
                        *ngIf="
                          payloadItems.get('driverName')?.errors?.maxlength
                        "
                        >Max limit 30 characters.
                      </span>
                      <span
                        *ngIf="payloadItems.get('driverName')?.errors?.pattern"
                        >Special Characters Not Allowed.
                      </span>
                    </mat-error>
                    <mat-hint align="end" class="fz-11"
                      >{{
                        payloadItems.get("driverName")?.value?.length ?? 0
                      }}
                      / 30 Characters</mat-hint
                    >
                  </mat-form-field>
                </div>
                <div class="col-3 mt-2">
                  <div class="w-100">
                    <app-dropdown
                      [optionList]="driverVariableList"
                      title="Drive*"
                      bindLabel="name"
                      bindValue="value"
                      [selectedValue]="driverVariable"
                      (selectionChange)="
                        conditioValuenOnChange($event, payloadItems)
                      "
                    >
                    </app-dropdown>
                  </div>
                </div>
                <div class="col-1 mt-2">
                  <div class="d-flex align-items-end">
                    <mat-icon
                      (click)="removeFn(i)"
                      *ngIf="driverFormList().controls.length > 1"
                      >remove_circle</mat-icon
                    >
                    <mat-icon
                      (click)="addDriver()"
                      *ngIf="driverFormList()?.controls?.length === i + 1"
                      >add_circle</mat-icon
                    >
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
    <div class="col-12 py-3 px-0 align-bottom">
      <div class="container-fluid">
        <button
          color="accent"
          mat-flat-button
          [disabled]="!skudriverForm?.valid"
          (click)="skudriverForm?.valid && createMappingGroup()"
        >
          Create
        </button>
        <button
          color="accent"
          class="ms-3"
          mat-stroked-button
          (click)="reset()"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="showResources">
      <div class="col-12">
        <button
          color="accent"
          class="mb-2"
          mat-stroked-button
          (click)="deleteConnection()"
          [disabled]="selected?.length == 0"
        >
          Delete
        </button>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <app-search
            (applyFilter)="applySearch($event)"
            resetField="true"
            class2append="w-100"
            [rowOrginalData]="rowDataCopy"
            [columns]="columnDefs2search"
            [disableSearch]="disableSearch"
          >
          </app-search>
        </div>
      </div>
      <div *ngIf="showtable">
        <div>
          <ngx-datatable
            #myTable
            *ngIf="showtable"
            class="material"
            [ngClass]="{
              rowh4: rowData?.length > 5
            }"
            [columnMode]="ngxService.config.columnMode"
            [headerHeight]="ngxService.config.headerHeight"
            [footerHeight]="ngxService.config.footerHeight"
            [rowHeight]="ngxService.config.rowHeight"
            [limit]="ngxService.config.limit"
            [scrollbarV]="ngxService.config.scrollbarV"
            [scrollbarH]="ngxService.config.scrollbarH"
            [rows]="rowData"
            [selectionType]="rowData?.length && ngxService.config.checkbox"
            (select)="onSelect($event)"
            [selected]="selected"
          >
            <ngx-datatable-column
              [width]="100"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false"
              [frozenLeft]="true"
              [cellClass]="'overflow-visible'"
              [headerClass]="'overflow-visible'"
              *ngIf="rowData?.length > 0"
            >
              <ng-template
                ngx-datatable-header-template
                let-value="value"
                let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn"
              >
                <mat-checkbox
                  class="example-margin"
                  style="z-index: 99999"
                  type="checkbox"
                  [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)"
                  [indeterminate]="someComplete()"
                ></mat-checkbox>
              </ng-template>
              <ng-template
                ngx-datatable-cell-template
                let-value="value"
                let-row="row"
                let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn"
              >
                <mat-checkbox
                  class="example-margin"
                  type="checkbox"
                  [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)"
                >
                </mat-checkbox>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              *ngFor="let column of columnDefs"
              [name]="column?.name"
              [prop]="column?.prop"
              [sortable]="
                column?.sortable !== undefined ? column?.sortable : true
              "
              [comparator]="column?.comparator"
              [cellClass]="column?.cellClass"
              [headerClass]="column?.headerClass"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span [matTooltip]="row[column?.prop]">
                  {{ row[column?.prop] ?? "" }}
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
